* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2a9d8f;
  text-align: center;
}

.container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 360px; /* Adjusted for 3 columns of 120px each */
}

.box {
  height: 120px;
  width: 120px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  font-size: 55px;
  color: #90e0ef;
  background-color: #264653;
}

#reset-btn,
#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

#msg {
  color: #03071e;
  font-size: 55px;
}

.hide {
  display: none;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .game {
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
  }

  .box {
    height: 80px;
    width: 80px;
    font-size: 40px;
  }

  #msg {
    font-size: 40px;
  }

  #reset-btn,
  #new-btn {
    padding: 0.75rem;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .box {
    height: 60px;
    width: 60px;
    font-size: 30px;
  }

  #msg {
    font-size: 30px;
  }

  #reset-btn,
  #new-btn {
    padding: 0.5rem;
    font-size: 0.9rem;
  }
}
