* {
  margin: 0;
  padding: 0;
}

.container {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #548687;
  text-align: center;
}

.game {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.box {
  height: 120px;
  width: 120px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  font-size: 55px;
  color: #b0314e;
  background-color: #ffffffc7;
}
#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}
#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}
#msg {
  color: #ffffc7;
  font-size: 55px;
}
.hide {
  display: none;
}
